<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Enlight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>EnlightExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>LensGenerator.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>FF0B9AD81DAE5D56005D716E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF164B2C1DE4B29A00D95777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF7B39651DE4FA3F0035DB1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>FF7B39741DE4FB2B0035DB1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
